.game-preview {
  width: 320px;
}

.game-previews {
  display: grid;
  width: 100%;
  padding: 15px;
  grid-gap: 15px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1600px)  {
  .game-previews {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1200px)  {
  .game-previews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px)  {
  .game-previews {
    grid-template-columns: 1fr;
  }
}
