mat-slider {
  width: 100%;
}

mat-panel-title {
  display: flex;
  align-items: center;

  p {
    margin-left: 15px;
  }
}

::ng-deep {
  .mat-expansion-panel-header > span.mat-content, mat-panel-title {
    overflow: visible !important;
  }
}
