<mat-nav-list>
  <a mat-list-item routerLink="/game/join" routerLinkActive="active">
    <mat-icon>play_circle_filled</mat-icon>
    <p translate>SIDENAV.JOIN_GAME</p>
  </a>
  <a mat-list-item routerLink="/game/create" routerLinkActive="active">
    <mat-icon class="material-icons-outlined">add_to_photos_outlined</mat-icon>
    <p translate>SIDENAV.CREATE_CONTEST</p>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/informations" routerLinkActive="active">
    <mat-icon class="material-icons-outlined">info</mat-icon>
    <p translate>SIDENAV.INFORMATIONS</p>
  </a>
</mat-nav-list>
