<h1 mat-dialog-title translate>ACCOUNT.DIALOG_PASSWORD.TITLE</h1>

<div mat-dialog-content>
  <form [formGroup]="form">

    <app-spinner *ngIf="loading; else passwordForm"></app-spinner>

    <ng-template #passwordForm>
      <mat-form-field appearance="outline">
        <mat-label translate>ACCOUNT.DIALOG_PASSWORD.OLD_PASSWORD</mat-label>
        <input matInput required [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword"/>
  
        <button matSuffix mat-icon-button (click)="hideOldPassword = !hideOldPassword">
          <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error>{{ getErrorMessage('oldPassword') | translate }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label translate>ACCOUNT.DIALOG_PASSWORD.NEW_PASSWORD</mat-label>
        <input matInput required [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword"/>

        <button matSuffix mat-icon-button (click)="hideNewPassword = !hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
  
        <mat-error>{{ getErrorMessage('newPassword') | translate }}</mat-error>
      </mat-form-field>
    </ng-template>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">{{ 'FORM.CANCEL' | translate }}</button>
  <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="submit()">
    {{ 'FORM.SUBMIT' | translate }}
  </button>
</div>
