@import "../../../assets/scss/colors";

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-96 { font-size: 96px; }

/* Button container */
.home_button {
    margin: auto;
    max-width: 720px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* purple button */
.home_button .purple-button {
    width: 42rem;
    font-size: 4rem;
    justify-content: start;
}

/* buttons */
.home_button .button {
    width: 20rem;
    font-size: 2rem;
}

/* Button = purple button + buttons */
.home_button Button {

    font-weight: bold;
    min-width: 12rem;
    height: 8rem;
    margin: 1rem;
    overflow: hidden;
}
