<div class="page-wrapper">
  <mat-card class="create-game-card">
    <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>

    <mat-card-content>
      <form [formGroup]="form" (submit)="submit()">

        <div matRipple class="map">
          <div class="left-side">
            <div class="preview">
              <img src="assets/images/previews/wood-level.jpg"/>
            </div>
          </div>

          <div class="right-side">
            <h2 class="mat-h2" translate>CREATE_CONTEST.FIELDS.GREEN_FOREST.TITLE</h2>
            <p class="mat-small" translate>CREATE_CONTEST.FIELDS.GREEN_FOREST.DESCRIPTION</p>
          </div>
        </div>

        <mat-divider></mat-divider>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'CREATE_CONTEST.FORM.NUMBER_PLAYERS' | translate }}</mat-label>
          <mat-select required formControlName="players">
            <mat-option *ngFor="let option of numberPlayersOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="time-selection">
          <button mat-icon-button (click)="toggleTimeLimit()" type="button">
            <mat-icon class="material-icons-outlined">
              {{ form.get('timeLimit').value === true ? 'timer' : 'timer_off' }}
            </mat-icon>
          </button>

          <mat-slider formControlName="timeDuration" [min]="3" [max]="20"></mat-slider>

          <p [ngClass]="{disabled: !form.get('timeLimit').value}">
            {{ form.get('timeDuration').value }} min
          </p>
        </div>

        <div class="group-alterations">
          <div class="alterations">
            <mat-slide-toggle formControlName="bonus">
              <p translate>CREATE_CONTEST.FORM.BONUS</p>
            </mat-slide-toggle>
    
            <button type="button" (click)="openBonus()" mat-icon-button [disabled]="!form.get('bonus').value">
              <mat-icon class="material-icons-outlined">settings</mat-icon>
            </button>
          </div>
  
          <div class="alterations">
            <mat-slide-toggle formControlName="malus">
              <p translate>CREATE_CONTEST.FORM.PENALTY</p>
            </mat-slide-toggle>

            <button type="button" (click)="openMalus()" mat-icon-button [disabled]="!form.get('malus').value">
              <mat-icon class="material-icons-outlined">settings</mat-icon>
            </button>
          </div>
        </div>

        <button type="submit" mat-raised-button color="accent">
          {{ 'CREATE_CONTEST.ACTIONS.SEND' | translate }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

