
<h1 mat-dialog-title translate>ACCOUNT.DIALOG_PASSWORD.TITLE</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label translate>ACCOUNT.DIALOG_PASSWORD.OLD_PASSWORD</mat-label>
      <input matInput required type="password" formControlName="oldPassword"/>

      <button matSuffix mat-icon-button>
        <mat-icon >visibility_off</mat-icon>
      </button>

      <mat-error>{{ getErrorMessage('oldPassword') | translate }}</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label translate>ACCOUNT.DIALOG_PASSWORD.NEW_PASSWORD</mat-label>
      <input matInput required type="password" formControlName="newPassword"/>

      <button matSuffix mat-icon-button>
        <mat-icon >visibility_off</mat-icon>
      </button>
  
      <mat-error>{{ getErrorMessage('newPassword') | translate }}</mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">{{ 'FORM.CANCEL' | translate }}</button>
  <button mat-raised-button color="accent" translate>{{ 'FORM.SUBMIT' | translate }}</button>
</div>
