* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.App {
  position: relative;
  width: 100%;
  height: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
